html
  head
    title="Tech - Dashboard"
    link(rel='stylesheet' href='/assets/css/style.css')/
  body
    .container
      h1 Welcome to Dashboard
      button#logout(onclick="location.href='/purchase/login'") Logout