doctype html
html
  head
    title Welcome Page
    link(rel="stylesheet" href="/assets/css/style.css")
  body
    .container
      h1 Welcome to our Purchase Buy
      .button-container
        button#register(onclick="location.href='/purchase/register'") Register
        button#signin(onclick="location.href='/purchase/login'") Sign In