html
  head
    link(rel="stylesheet" href="/assets/css/style.css")
    title Login
  body
    .container
      h1#admin-title Login Page
      #login-panel        
        form(method="post" action="/purchase/login" name="loginForm")
          input(type="text" name="email" placeholder="E-Mail")
          input(type="password" name="password" placeholder="Password")
          button(type="submit" id="loginBtn") Login
    script(src="/assets/js/main.js")